@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto:wght@300&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  -webkit-user-select: none;
}

body {
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #36353525;
}

.wrapper {
  
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 85px);
  grid-template-rows: minmax(100px, auto) repeat(5, 85px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  background: #000;
  border: 1px solid #fff;
  
}

.wrapper > button {
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  margin: 0.9px;
  outline: none;
  background: #A9AFD1;
  /* background: rgba(231, 64, 64, 0.842); */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border-radius: 8px;
}

button:hover {
  background-color: #24d3149c;
  color: #fff;
}

.span-2 {
  grid-column: span 2;
}


.input-screen {
  grid-column: 1 /-1;
  background-color: #A9AFD1;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 5px;
  word-wrap: break-word;
  word-break: break-all;
  font-size: 35px;
  color:  #000;
  /* border: none;  */
  /* border: 1px solid #fff; */
  border-radius: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  
}


#highlight {
  background-color: #15da15e0 !important;
  color: #fff !important;
}

#highlight:hover {
  background-color: rgba(231, 64, 64, 0.842)!important ;
  color: #000 !important ;
}


